<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新建出货单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
</head>
<body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/constant.js"></script>
<script src="/js/jquery-ui.js"></script>
<script>

    $(document).ready(function () {

    });

    $( "#datepicker" ).datepicker({
        inline: true
    });

    function sendForm(){
        var param = {
            "name":$("#name").val(),
            "tel":$("#tel").val()};
        $.ajax({
            contentType:"application/json; charset=utf-8",
            data: JSON.stringify(param),
            url:HttpParam.http_prefix+"/in/new",
            type:"POST",
            cache:false,
            success:function(){
                alert("保存成功");
            },error:function(){
                alert("请求出错，请刷新页面尝试");
            }
        })
    }
</script>
<table  class="table">
    <tr>
        <td>型号：</td>
        <td><input type="text" class="form-control" id="name" placeholder="请输入型号"></td>
    </tr>
    <tr>
        <td>数量：</td>
        <td><input type="number" class="form-control" id="tel" placeholder="请输入电话"></td>
    </tr>
    <tr>
        <td>石材日期：</td>
        <td>
            <!--<input type="number" class="form-control" id="tel" placeholder="请输入电话">-->
            <div id="datepicker"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="controls">
                <button type="button" class="btn" onclick="sendForm();">保存</button>
            </div>
        </td>
    </tr>

</table>
</body>
</html>