<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>入库单编辑</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-timepicker-addon.css">
</head>
<body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/constant.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery-ui-timepicker-addon.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $( "#datepicker" ).datepicker({
            inline: true,
            dateFormat: "yy-mm-dd"
        });
    });

    function sendForm(){
        if(!$("#model").val()){
            alert("请填写型号");
            $("#model").focus();
            return false;
        }
        if(!$("#count").val()){
            alert("请填写数量");
            $("#count").focus();
            return false;
        }
        if(!$("#datepicker").val()){
            alert("请填写板材日期");
            $("#datepicker").focus();
            return false;
        }

        var os = [];
        var o;
        var flag = true;
        $(".stand").find("input.st").each(function (i,v) {
            o = {};
            var thisName = $(v).attr("name");
            var stand = $(v).val();
            var price = $("input[name="+thisName+"_price]").val();
            if(!price){
                alert("请输入"+stand+"规格的单价!");
                flag = false;
                $("input["+thisName+"_price]").focus();
                return false;
            }
            o["standard"] = stand;
            o["price"] = price
            os[i]=o;
        });

        if(!flag){
            return;
        }

        var currentDateLong = new Date($("#datepicker").val()+" 00:00:00".replace(new RegExp("-","gm"),"/")).getTime();     //当前时间转换成long型

        var param = {
            "id":$("#id").val(),
            "model":$("#model").val(),
            "totalCount": $("#count").val(),
            "stoneDate": currentDateLong,
            "ios":os};
        $.ajax({
            contentType:"application/json; charset=utf-8",
            data: JSON.stringify(param),
            url:HttpParam.http_prefix+"/in",
            type:"POST",
            cache:false,
            success:function(){
                alert("保存成功");
            },error:function(r,e){
                $.each(r.responseJSON, function (i, v) {
                    alert(v);
                });
            }
        })
    }
</script>
<table  class="table">
    <input type="hidden" id="id" th:value="${inOrder.id}"/>
    <tr>
        <td>型号：</td>
        <td><input type="text" readonly="true" th:value="${inOrder.model}" class="form-control" id="model" placeholder="请输入型号"></td>
    </tr>
    <tr>
        <td>数量：</td>
        <td><input type="number" th:value="${inOrder.totalCount}" class="form-control" id="count" placeholder="请输入数量"></td>
    </tr>
    <tr>
        <td>石材日期：</td>
        <td>
            <!--<input type="number" class="form-control" id="tel" placeholder="请输入电话">-->
            <input style="cursor: pointer;" th:value="${#dates.format(inOrder.stoneDate*1000, 'yyyy-MM-dd')}" type="text" placeholder="点击选择日期" id="datepicker">
        </td>
    </tr>
    <tr>
        <td>定价：</td>
        <td>
            <table class="stand">
                <tr>
                    <td>规格（米）</td>
                    <td>单价（元）</td>
                </tr>
                <tr th:each="io:${inOrder.getIos()}" th:if="${io.standard=='0.6'}">
                    <td><input class="st" name="s6" readonly="true" value="0.6"/></td>
                    <td><input name="s6_price" type="number" th:value="${io.price}"/></td>
                </tr>
                <tr th:each="io:${inOrder.getIos()}" th:if="${io.standard=='1.2'}">
                    <td><input class="st" name="s12" readonly="true" value="1.2"/></td>
                    <td><input name="s12_price" type="number" th:value="${io.price}"/></td>
                </tr>
                <tr th:each="io:${inOrder.getIos()}" th:if="${io.standard=='1.8'}">
                    <td><input class="st" name="s18" readonly="true" value="1.8"/></td>
                    <td><input name="s18_price" type="number" th:value="${io.price}"/></td>
                </tr>
                <tr th:each="io:${inOrder.getIos()}" th:if="${io.standard=='2.4'}">
                    <td><input class="st" name="s24" readonly="true" value="2.4"/></td>
                    <td><input name="s24_price" type="number" th:value="${io.price}"/></td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div class="controls">
                <button type="button" class="btn" onclick="sendForm();">保存</button>
            </div>
        </td>
    </tr>
</table>
</body>
</html>