<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
</head>
<body style="text-align:center;">
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-sm bg-light">
    <ul class="nav nav-tabs"><!--nav-pills nav-justified-->
        <li><a href="#" onclick="topstory();">首页</a></li><!--class="active"-->
        <li><a href="#" onclick="userList();">客户列表</a></li>
        <li><a href="#" onclick="createUser();">新建客户</a></li>
        <li><a href="#" onclick="outOrderList();">出货单列表</a></li>
        <li><a href="#" onclick="createOutOrder();">新建出货单</a></li>
        <li><a href="#" onclick="inOrderList();">入库单列表</a></li>
        <li><a href="#" onclick="createInOrder();">新建入库单</a></li>
        <li><a href="#" onclick="createInOrder();">客户购买统计</a></li>
    </ul>
</nav>
</body>
</html>